/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 1.5rem;
}
h1, h2, h3, h4 {
    color: green;
}

.nav-list{
    height:100vh ;
    width: 100%;
    background-image: url(../images/background..jpg);
    background-size:cover;
    position: center;

}
nav{
display: flex;
align-items:center ;
justify-content:space-between ;
padding-top: 20px;
padding-left: 10%;
padding-right: 10%;


}

.logo{

    font-size: 50px;
    letter-spacing: 1px;
}

span{

    color: white;
}

nav ul li{

    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{

    color: white ;
    font-weight:bold ;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: aqua;
}

.content{

    position:static;
    left: auto;
    
}

h1{
    margin-left: auto;
    font-size: 40px;
}

h2{

font-size: 30px;


}

h3{

    font-size: 25px;
    margin-bottom: 20px;
}